@import url(http://fonts.googleapis.com/css?family=Lora|Oswald:400,300|Lato|Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower|Signika);
body {
	margin: 0;
	font-family: 'Lora', Georgia;
	background: white;
}
.home-page {
	background: #DDD;
}
.home-page .page-wrap {
	margin: 10px auto 10px;
}
.photo-page {
	background: black;
}

@media (min-width: 1351px) {
	.post-grid {
		width: 31.33%;
	}
}
@media (min-width: 801px) and (max-width: 1350px) {
	.post-grid {
		width: 48%;
	}
}
@media (max-width: 800px) {
	.post-grid {
		width: 98%;
	}
}



/*-----HEADER-----*/
.clearfix {
  clear: both;
}
.page-wrap {
	/*width: 90%;*/
	margin: 0 auto;
	max-width: 1500px;
}
img {
	max-width: 100%;
	-webkit-transform: translateZ(0); /*To fix chrome rendering issues*/
}
a {
  color: black;
  text-decoration: none;
}
h1, h2, h3 {
	margin: 0;
	font-family: 'Oswald', Verdana;
	text-transform: uppercase;
}
p {
	line-height: 1.7;
	padding-bottom: 1.5em;
}



header {
  display: block;
  width: 100%; /*just in case*/
  background: #333;
  min-height: 44px;
  /*box-shadow: inset 0 -6px 6px rgba(0, 0, 0, 0.1);*/
/*border-bottom: 1px solid #111;
	border-top: 1px solid #555;*/
}

header nav {
	display: flex;
	margin-right: 20px;
	float: right;
}
header nav a {
  text-align: center;
	margin: 0.5em 0 0 0;
  font-size: 14px;
  display: inline-block;
  position: relative;
  font-family: 'Open sans', Verdana, 'Lucida Grande', avenir;
  padding: 5px 10px;
  border-radius: 4px;
  color: #CCC;
  transition: all 0.3s ease;
  -webkit-transtion: all 0.3s ease;
}
header nav a:hover {
  color: #EEE;
  background: #444;
  box-shadow: inset 0 0 10px 5px #181818;/*Turn harshness down?*/
}
nav a {
  text-decoration: none;
  color: white;
}
nav a:hover {
  text-decoration: none;
  color: white;
}
nav a:active {
  text-decoration: none;
  color: white;
}
nav a:visited {
  text-decoration: none;
  color: white;
}
.me-description {
	margin-left: 20px;
	color: white;
	font-family: Georgia;
	display: inline-block;
	padding: 15px 10px 10px 60px;
}

/*-----INDEX-----*/
.post-grid {
	margin: 0 1%;
	padding: 10px 0;
	float: left;
	top: 0;
}
.post-wrap {
	background: white;
	box-shadow: 1px 20px 25px -15px #AAA, 0 0 10px #CCC, 0 0 0 1px #CCC;
}
.post-inner {
	margin: 0 25px;
	padding: 25px 0;
}
.post-inner a:hover img {
	opacity: 0.6;
	transition: all 0.3s ease;
}
.view-article {
	display: inline-block;
	background: #444;
	padding: 12px;
	color: white;
	font-family: 'Signika';
	border-radius: 2px;
	transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
}
.view-article:hover {
	background: #222;
}
.view-article:active {
	color: white;
}

/*-----ARTICLE-----*/
.article-wrap {
	background: white;
	box-shadow: 1px 20px 25px -15px #AAA, 0 0 10px #CCC, 0 0 0 1px #CCC;
}
article {
	margin: 0 auto;
	padding: 50px 0;
	max-width: 960px;
	width: 90%;
}

/*-----FOOTER-----*/
footer {
	padding: 20px 2%;
	display: inline-block;
	width: 96%;
	color: #CCC;
}
footer a {
	color: #CCC;
	text-decoration: underline;
}
#footer1 {
	background: black;
}
#footer2 {
	background: #444;
}
